
*{
    font-family:'Poppins',cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header{
 background-color:#4c565c;   
 display: flex;
 gap:30px;
 position:sticky;
 top:0px;
 padding-top:10px;
 color:white;
 transition:1.5s;
}

.button1:hover{
    color:black;
    transition: 0.6s;
    text-shadow:0px 0px 10px;
    font-size: larger;
}



.navigation {
    margin-left:30%;
    display: flex;
    gap:30px
    
}
.navigation a{
    text-decoration: none;
}
.container{
    color:black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:10%;

}
.container h1:nth-child(8){
    margin-left:15px;
}
.container h1:nth-child(10){
    margin-left:15px;
    transition-delay:0.100s;
}
.container h1{
    font-size:50px;
    
   
}
span{
    margin-top:10px;
    background-color: white;
    height: 30px;
    width: 50px;
    text-align: center;
    padding: 5px 2px;
    border-radius:15px;
    cursor: pointer;
}
@keyframes smoke {
from{
    filter: none;
    opacity: 100%;

}
to{
    filter: blur(40px);
    opacity: 0%;
    transition: 0.5s;
    transform: translateY(-50px);
}

    
} 
.container h1:nth-child(16){
    animation: smoke 4s 3s linear infinite;
}
.container h1:nth-child(15){
    animation: smoke 4s 2.8s linear infinite;
}
.container h1:nth-child(14){
    animation: smoke 4s 2.6s linear infinite;
}
.container h1:nth-child(13){
    animation: smoke 4s 2.4s linear infinite;
}
.container h1:nth-child(12){
    animation: smoke 4s 2.2s linear infinite;
}
.container h1:nth-child(11){
    animation: smoke 4s 2s linear infinite;
}
.container h1:nth-child(10){
    animation: smoke 4s 1.8s linear infinite;
}
.container h1:nth-child(9){
    animation: smoke 4s  1.6s linear infinite;
}
.container h1:nth-child(8){
    animation: smoke 4s  1.4s linear infinite;
}
.container h1:nth-child(7){
    animation: smoke 4s 1.2s linear infinite;
}
.container h1:nth-child(6){
    animation: smoke 4s  1s linear infinite;
}
.container h1:nth-child(5){
    animation: smoke 4s 0.8s linear infinite;
}
.container h1:nth-child(4){
    animation: smoke 4s 0.6s linear infinite;
}
.container h1:nth-child(3){
    animation: smoke 4s  0.4s linear infinite;
}
.container h1:nth-child(2){
    animation: smoke 4s 0.2s linear infinite;
}
.container h1:nth-child(1){
    animation: smoke 4s linear infinite;
}

.container p {
    width:300px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Product section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.product{
    text-align: center; 
    height:auto;
    padding:30px;
    padding-top: 10%;
    background-image:url('https://images.wallpaperscraft.com/image/single/coffee_milk_glass_197355_1920x1080.jpg');
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    

}
.coffe_list{
display: flex;
gap:40px;
flex-direction: row;
flex-wrap: wrap;
z-index: -1;

}
.affogato{
    background-color:rgba(0, 0, 0, 0.509);
    width: 400px;
    padding-left:40px;
    padding-top:20px;
    padding-bottom:20px;
    color:white;
    backdrop-filter:blur(20px);
   
}
.americano{
    background-color:rgba(0, 0, 0, 0.3);
    width: 400px;
    padding-left:40px;
    padding-top:20px;
    height:auto;
    padding-bottom:20px;
    color:white;
    backdrop-filter:blur(20px);
 
}
.latee{
    background-color:rgba(0, 0, 0, 0.509);
    width: 400px;
    height:fit-content;
    padding-left:40px;
    padding-top:20px;
    color:white;
    padding-bottom:20px;
    backdrop-filter:blur(20px);
  
}
.Expresso{
    background-color:rgba(0, 0, 0, 0.509);
    width: 400px;
    height:fit-content;
    padding-left:40px;
    padding-top:20px;
    color:white;
    padding-bottom:20px;
    backdrop-filter:blur(20px);
   
}
.matcha{
    background-color:rgba(0, 0, 0, 0.509);
    width: 400px;
    height:fit-content;
    padding-left:40px;
    padding-top:20px;
    color:white;
    padding-bottom:20px;
    backdrop-filter:blur(20px);
 

}
.cappuccino{
    background-color:rgba(0, 0, 0, 0.509);
    width: 400px;
    height:fit-content;
    padding-left:30px;
    padding-top:20px;
    color:white;
    padding-bottom:20px;
    backdrop-filter:blur(20px);
    text-align: center;
   

}
.content h1{
    background-color: gray;
    width: fit-content;
    text-align: center;
    margin-left: 30%;
}
.price{
    color:black;
}
.macchiato{
    background-color:rgba(0, 0, 0, 0.509);
    width: 400px;
    height:fit-content;
    padding-left:40px;
    padding-top:20px;
    color:white;
    padding-bottom:20px;
    backdrop-filter:blur(20px);
  
}
main{
    background-image:url('https://images.wallpaperscraft.com/image/single/coffee_milk_cup_208642_1920x1080.jpg');
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    transition: 0.8s;
    height: 100vh;
    width:100%;
    text-align: center;
}
.hirebtn{
    width:150px;
    height:50px;
    border-radius: 20px;
transition:0.5s;
font-size:20px;
border: 0 solid;
}
a{
    color:white;
}
a:hover{
    text-shadow: 0px 0px 10px red;
}
.hirebtn:hover{
letter-spacing: 2px;
cursor: pointer;
}
img{
    border-radius: 10px;
}
.container_active{
    background-image:url('https://images.wallpaperscraft.com/image/single/coffee_cappuccino_cup_120501_1920x1080.jpg');
    background-size: cover;
    background-position:center;
    background-attachment: fixed;
    transition: 0.5s;
    color:white;
}
.button1{
    
    width: 200px;
    height:50px;
    background:transparent;
    border-radius: 20px ;
    cursor: pointer;
    font-size: 18px;
    border: 0 solid;
    color:white;
}
.img-active{
display:none;
width: 150px;
height: 150px;
background-color: red;
}

.header-active{
    color:black;
    background-color: #7b96e3;
    transition:1.5s;

}
/*<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Contact section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.Contact{
    padding: 30px 0;
    width:100%;
    height: 100vh;
   background-image:url("https://images.wallpaperscraft.com/image/single/mountains_lake_sunset_117525_1280x720.jpg");
   background-attachment:fixed;
   background-size: cover;
   background-position: center;
}
.heading p{
    font-size: 30px;
    padding:20px;
}
.ContectUs{
    background-color: black;
    color:white;
    width: 50%;
    height: auto;
    font-size:25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 30px 20px;
    width: 40%;
    padding-left: 60px;
    text-align: center;
    border-radius: 15px;
    backdrop-filter: blur('30px');
}
#cv{
    display:none;
}

.flex-item{
display:flex;
gap:60px;
}
.details{
    display: flex;
    flex-direction: column;
    
    
}
.submit:hover{
cursor: pointer;
color:rgb(17, 192, 17);
transition: 0.5s;

}
input{
    margin-top: 30px;
    width: 350px;
    text-align: center;
    outline: none;
    height: 30px;
    padding-left: 50px;
    
}

.submit{
    margin-top: 30px;
    color:white
}
.submit_button{
    margin-top: 30px;
    width:200px;
    height:40px;
    margin-left: 30%;
    background-color:#b2bda6;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    border:0 solid;
    cursor: pointer;

}


