
.main{
   
    height:100vh;
    background-color:#54eb54;
    color:white;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container h3{
    font-size: 59px;
    margin-right:200px;
}
.container h4{
margin-top: 35px;
font-size:26px;
font-weight:200;
}
.figure img{
    height:53vh;
    width: 70%;
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius:6px;
}
.figure{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media all and (max-width:1024px) {
    .main{
        height:100vh;
    }
    .container h3{
        font-size:20px;
        margin-right:2px;
}
.container h4{
    margin-top: 12px;
    font-size:15px;
    font-weight:200;

}
.figure img{
    height:53vh;
    width: 70%;
    display: flex;
  justify-content: center;
  align-items: center;
  border-radius:6px;
  margin-bottom:120%;
}
}