*{
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body{
  background-color:#102C57;

}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #FFE6E6;

}
.weathercard{
  background-color: rgba(10, 10, 10, 0.194);
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  width: 25%;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.container{
  
  background-size:cover;
  background-position: center
}

h1{
  color: FFE6E6;
}
.cityname{
  font-size: 2em;
  letter-spacing: 3px;
font-weight: 500;
  text-align: center;

}

.temperature p{
  font-size: 4em;
  width: 100%;
  text-align: center;
}
.otherinformation{
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  gap: 60px;


}
.inputsection{

  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.inputsection input{
  width: 70%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 50px;
  padding-left: 30px;
}
.inputsection button{
  width: 40px;
  height: 40px;
  font-size: 30px;
  border-radius: 50%;
  border: none;
 display: flex;
 align-items: center;
 justify-content: center;
 cursor: pointer;
 color: #005C78;

}
.icons{
  padding: 10px;
  width: 100%;
  text-align: center;
   height: 200px;

}
.icons img{
  height: 100%;
}
.inputsection button:hover{
  background-color:rgba(255, 255, 255, 0.836);
  color: #005c7891; 
}

.humidity{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

}
.windspeed{
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;
}
.windspeed p{
  font-size: 30px;
}.humidity p{
  font-size: 30px;
}

.humidity img{
  width: 34px;
  height: 34px;
}
.windspeed img{
  width: 34px;
  height: 34px;
}