.fifthpage{
    width: 100%;

    height: 100vh;
        background:linear-gradient(180deg,#D5D8D7,#AFD9D5,#77D0CF,#75B3CF) ;
    }
    .container5{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
    }
    .section1{
        display: flex;
        flex-direction: column;
    }
    .Upper_container{
        display: flex;
        gap: 50px;
    }
    .Upper_container .first1{
        margin-right: 250px;
    }
    .section1 .lower_content{
        margin-top: 90px;
        margin-left: 50%;
    }
    .Upper_container .second1 h2{
font-size:17px;
    }
    .Upper_container .third1 h2{ 
        font-size:17px;
    }